body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-weight: lighter;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}
nav ul li a:hover {
    color: #FB7D06;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#head1 {
    font-weight: 100;
    font-size: 3.5em;
    margin: 0;
    line-height: 1em;
}
#head2 {
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    color: #FB7D06;
    line-height: 1em;
}
#head3{
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    color: #FB7D06;
    line-height: 1em;
}
#head4 {
    font-weight: 200;
    font-style: italic;
    margin: 0;
    color: #FB7D06;
    line-height: 2em;
    letter-spacing: 0.03em;
}
#presentation {
    padding-block: 10vh;
    padding-inline: 33vw;
}
.description {
    margin: 0;
}
.down-button-container{
    display: flex;
    justify-content: center;
    padding-block: 3vh;
}
.down-button {
    cursor: pointer;
}
.content {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}
.box{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}
#upButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que el SVG esté por encima de otros elementos */
    cursor: pointer;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease-in-out; /* Transición suave de opacidad */
}
#upButton.show {
    opacity: 1; /* El SVG será completamente visible cuando se aplique esta clase */
}
#ccdoc-banner-section {
    position: relative;
    width: 100vw;
}
#ccdoc-banner-base {
    width: 100%;
    object-fit: cover; /* Para cubrir el contenedor sin deformar */
}
#ccdoc-banner-overlay {
    position: absolute;
    top: 80%;       /* Centrado vertical */
    left: 93%;      /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Para ajustar el centro exacto */
    width: 10%;   /* Tamaño de la imagen que va encima */
    height: auto;
}
#ccdoc-description-section {
    padding-inline: 5vw;
}
#ccdoc-catalog-section {
    display: flex;
    padding-inline: 5vw;
    gap: 5vw;
    height: 60%;
}
#ccdoc-catalog-view {
    position: relative;
    flex: 6;
}
#ccdoc-catalog-view-base {
    object-fit: cover;
    height: 100%;
}
#ccdoc-catalog-view-overlay {
    position: absolute;
    display: none;
}
#ccdoc-catalog-preview {
    flex: 4;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    gap: 5%;
}
#ccdoc-catalog-preview div {
    max-height: 100%;
}
#ccdoc-catalog-preview div img{
    height: 100%;
    max-width: 100%;
}
#ccdoc-catalog-preview-1 {
    height: 47.5%;
}
#ccdoc-catalog-preview-1 label img{
    cursor: pointer;
}
#ccdoc-catalog-preview-1 input[type="radio"]:checked + label img {
    opacity: 1; /* Hace que la imagen seleccionada sea totalmente opaca */
    outline: 5px solid #696969; /* Resalta la imagen seleccionada */
}
#ccdoc-catalog-preview-2 {
    height: 47.5%;
}
#ccdoc-catalog-preview-2 label img{
    cursor: pointer;
    box-sizing: border-box;
}
#ccdoc-catalog-preview-2 input[type="radio"]:checked + label img {
    opacity: 1; /* Hace que la imagen seleccionada sea totalmente opaca */
    outline: 5px solid #696969; /* Resalta la imagen seleccionada */
}